body{
    width: 100%;
    height: 100%;
}

.bd{
    margin-top: 100px;
    padding-top:15px;
}
footer{
    padding-top: 15px;
    background-color: #4C4B4B;
    color: white;
    padding:5px;
}
info{
    float: left;
    text-decoration: none;
    color: white;
}
.thumbnail{
    padding:0;
}
.panel-heading{
    background-color: #EAF0F1;
}
.mod{
    padding: 5px;
    margin: 15px;
}